* {
    box-sizing: border-box;
}

body{
    background-color: #fbfbfb;
}

.loadingPage{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height:  89px;
    background-color: #404EED;
}

.logo img{
    margin-top: 16px;
    margin-left: 83px;
}

.tshirtImg, .camisetaImg, .mangaLongaImg, .golavImg, .golaRedondaImg, .golaPoloImg, .sedaImg, .algodaoImg, .poliesterImg{
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.5px #c4c4c4;
}

.tshirtImg:hover, .camisetaImg:hover, .mangaLongaImg:hover, .golavImg:hover, .golaRedondaImg:hover, .golaPoloImg:hover, .sedaImg:hover, .algodaoImg:hover, .poliesterImg:hover{
    background-color: #c4c4c4;
    /* opacity: 0.5; */
}



.selected{
    border: solid 6px #404EED;
}





main{
    display: flex;
}

.orderSpot{
    width: 100%;
    height: 785px;
    background-color: white;
}

.illustrationSpot{
    width: 100%;
    height: 785px;
    background-color: #404EED;   
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modelTitle, .collarTitle, .fabricTitle, .modelOptions,.collarOptions, .fabricOptions, .referenceTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #232323;
    margin-bottom: 9px;
}

.referenceClothes{
    margin-left: 125px;
    margin-bottom: 24px;
}
.modelOptions, .collarOptions, .fabricOptions{
    display: flex;
}

.inputReferenceLink{
    margin-bottom: 24px;
}

.buttonFinishOrder{
    width: 400px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: #c4c4c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 125px;    
}

.buttonFinishOrder:hover{
    background-color: #404EED;    
    opacity: 0.5;
}

.buttonFinishOrderReady{
    background-color: #404EED;
}


.buttonReady{
    background-color: #404edd;    
}

.lastOrders{
    background-color: #f2f2f2;
    width: 100%;
    height: 342px;
}


.lastOrdersTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #232323;
    padding-top: 30px;
    margin-bottom: 32px;
    margin-left: 125px;
}

.lastOrderOption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 235px;
    background-color: white;
    border-radius: 10px;
    margin-right: 16px;
}

span{
    font-weight: 700;
}
.lastOrderOptionImg{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.lastOrderOptionImg img{
    width: 180px;
    height: 180px;
}

.lastOrderOptionImg:hover{
    transform: scale(1.5)
}

.lastOrderSpot{
    display: flex;
    margin-left: 125px;
}

.inputReferenceLink input{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-align: left;   
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 16px;
    border: none;
    background-color: #f2f2f2;
}

.inputReferenceLink input::placeholder{
    color: #818181;
}

.login{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.loadingText{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #404EED;     
}
.loadingPage{
    width: 100%;
    height:  100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
}
.whatYourName{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;    
}

.loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #404EED;
    margin-top: 30px;
    border-radius: 10px;
    border: solid 2px white;
}
.inputLogin input{
    background-color: transparent;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 20px;
}
.inputLogin input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
/* .loginInfos{
    padding-right: 100px
} */
.loginTitle{
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white; 
    padding-bottom: 50px;
}

.loginLogo{
    padding-bottom: 50px;
    /* padding-left: 70px; */
}
/* .whatYourName{
    padding-top: 130px;    
} */
/* .inputLogin{
    padding-top: ;
} */


.loginSpot{
    background: rgb(64,78,221);
/* background: linear-gradient(360deg, rgba(64,78,221,1) 11%, rgba(64,78,221,0.46820726581648286) 66%, rgba(255,255,255,0) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 100px;
}




.tshirtOption, .camisetaOption, .mangaLongaOption, .golavOption, .golaRedondaOption, .golaPoloOption, .sedaOption, .algodaoOption, .poliesterOption{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;   
    margin-bottom: 32px;     
    margin-right: 40px;
}

.tshirtText, .camisetaText, .mangaLongaText, .golavText, .golaRedondaText, .golaPoloText, .sedaText, .algodaoText, .poliesterText{
    margin-top: 8px;
    /* display: flex;
    flex-wrap: nowrap; */
    white-space: nowrap;
}




.optionsClothes{
    margin-top: 38px;
    margin-left: 125px;
}

.hide{
    display: none;
}


